@model LogLife11.Models.Myevent

@{
    ViewData["Title"] = "Create";
}
<center>
<h1 style="margin-top: 40px; font-family:'Times New Roman', Times, serif;">Create</h1>
</center>
<hr />
<div class="row" id="div-create">
    <div class="col-md-4">
        <form asp-action="Create" id="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger" id="line-adjust"></div>
            <div class="form-group">
                <label asp-for="NameEvent" class="control-label"></label>
                <input asp-for="NameEvent" class="form-control" />
                <span asp-validation-for="NameEvent" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NameOrganizer" class="control-label"></label>
                <input asp-for="NameOrganizer" class="form-control" />
                <span asp-validation-for="NameOrganizer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color: brown;"/>
            </div>

        </form>
    </div>
</div>
<br />
<div id="back-list-create">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
