@model LogLife11.Models.Myevent

@{
    ViewData["Title"] = "Edit";
}
<center>
<h1 style="margin-top: 40px; font-family:'Times New Roman', Times, serif">Edit</h1>
</center>

<hr />
<div class="row" style="margin-left: 100px; font-family:'Times New Roman', Times, serif">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="NameEvent" class="control-label"></label>
                <input asp-for="NameEvent" class="form-control" />
                <span asp-validation-for="NameEvent" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NameOrganizer" class="control-label"></label>
                <input asp-for="NameOrganizer" class="form-control" />
                <span asp-validation-for="NameOrganizer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="background-color: brown;"/>
            </div>
        </form>
    </div>
</div>
<br />
<div style="margin-left: 100px;">   
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
