@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row">
    <div  id="form-register">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <img src="/Images/new_account_icon.png" alt="register_icon_image" id="register-image" />
            <br />
            <h2 id="register-label">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
             <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="first-name" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="last-name" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ContactNumber" class="form-control" autocomplete="contact-number" aria-required="true" />
                <label asp-for="Input.ContactNumber"></label>
                <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
            </div>
            <br />
             <div class="form-floating">
                <input asp-for="Input.BirthDate" class="form-control" autocomplete="contact-number" aria-required="true" />
                <label asp-for="Input.BirthDate"></label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <br />
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
